body {
	background-image: url('../img/moonbg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color: #000;
}

.global_nav {
	background-color: #000;
	color: #fff;
}

div.global_nav{
	padding-top: .25em;
	padding-bottom: .25em;
}

.logo {
    height: 90px;
    display: block;
    width: 130px;
    background-image: url('../img/mlf_logo_white3.png');
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 5;
}

.malate {
	font-family: Garamond, Georgia, serif;
	padding-left: 0em;
    padding-right: 0em;
}

.largefont {
	font-size: 440%; /* 400%; */
}

.smallfont {
	font-size: 170%; /* 123%; */
}

.columns {
    position: relative;
    padding-left: 0.1em;
    padding-right: 0.1em;
    float: left;
}

#contacts {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	margin-bottom: 4em;
	width: 20em;
	text-align: center;
}

.folio {
	margin-left: auto;
	margin-right: auto;
	width: 610px;
}